# M1L5 Pandas Part 2 Data Challenge:  EDA

## Scenario

We'll be working with a real-world dataset from the NYC Open Data portal, focusing on the leading causes of death in New York City (same as data challenge 4). This dataset provides valuable insights into public health trends and disparities. Understanding this data is crucial for community advocacy and policy-making.

For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 
- Group and Aggregate Data
- Create a contingency table with `crosstab()`
- Check for duplicated data (remember not all duplicated data needs to be dropped)

**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [3]:
# Import Pandas & Numpy
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. The file is called:  `nyc_causeofdeath.csv`

In [4]:
df = pd.read_csv("nyc_causeofdeath.csv")

### Step 3: Check the information of the data (column names, data types, size, etc.)

In [122]:
df.head(5)

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11.0,NaN,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70.0,NaN,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213.0,25.0,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,NaN,NaN,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852.0,176.5,148.4

In [13]:
df.keys()

Index(['Year', 'Leading Cause', 'Sex', 'Race Ethnicity', 'Deaths',
       'Death Rate', 'Age Adjusted Death Rate'],
      dtype='object')

### Step 4:  We need to change Deaths from an object to an integer so that we can do some MATH (you will learn this officially later) for now just run the cell below.

In [10]:
#Run this cell without changes 
df['Deaths'] = df['Deaths'].replace('.', np.nan)
df['Deaths'] = pd.to_numeric(df['Deaths'])

### Step 5:  Create code to get the sum of deaths by Sex -- what Sex has the most deaths based on this data (add a comment in the cell with your answer)

In [124]:
deaths_by_sex = df['Deaths'].groupby(df['Sex']).count()
print(deaths_by_sex)

#Men had the highest date rate

Sex
F    463
M    493
Name: Deaths, dtype: int64

### Step 6:  Now create a contingency table (using `crosstab()`) of the Leading Cause of Death by Sex -- put a comment in the cell of a takeaway from the output

In [ ]:
cause_by_sex = pd.crosstab(df['Sex'],df["Leading Cause"])
cause_by_sex

#the output returns a tabular structure of the intersection of both dataframe columns

Leading Cause,"Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)",All Other Causes,Alzheimer's Disease (G30),Aortic Aneurysm and Dissection (I71),"Assault (Homicide: Y87.1, X85-Y09)",Atherosclerosis (I70),Cerebrovascular Disease (Stroke: I60-I69),Certain Conditions originating in the Perinatal Period (P00-P96),"Chronic Liver Disease and Cirrhosis (K70, K73)",Chronic Lower Respiratory Diseases (J40-J47),...,Insitu or Benign / Uncertain Neoplasms (D00-D48),"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",Malignant Neoplasms (Cancer: C00-C97),"Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)",Mental and Behavioral Disorders due to Use of Alcohol (F10),"Nephritis, Nephrotic Syndrome and Nephrisis (N00-N07, N17-N19, N25-N27)",Parkinson's Disease (G20),Septicemia (A40-A41),Tuberculosis (A16-A19),Viral Hepatitis (B15-B19)
Sex,,,,,,,,,,,,,,,,,,,,,
F,35,48,31,2,3,3,48,13,8,45,...,5,12,48,12,0,14,1,11,1,2
M,45,48,1,1,17,0,42,13,21,43,...,0,26,48,27,2,3,0,2,0,3

### Step 7:  Are there any duplicate records in this dataset?  Code it below and add a comment with your answer

In [144]:
df['Year'].duplicated().sum()
df['Leading Cause'].duplicated().sum()

np.int64(1068)

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [ ]:
df['Deaths'].groupby(df['Year']).sum()
#2008 had the most deaths if we add all deaths

Year
2007    53996.0
2008    54138.0
2009    52820.0
2010    52505.0
2011    52726.0
2012    52420.0
2013    53387.0
2014    53006.0
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  Why would you want to do this?

In [114]:
df['Death Rate'] = df['Death Rate'].replace('.', np.nan)
df['Death Rate']
dfarray = np.array(df['Death Rate'])
dffloat = dfarray.astype(float)
df['Death Rate'] = dffloat
df['Death Rate']

#the death rate column is a continuous integer, making it a float includes any numbers after the decimal point

0         NaN
1         NaN
2        25.0
3         NaN
4       176.5
        ...
1089    170.3
1090      NaN
1091      NaN
1092     13.0
1093      8.9
Name: Death Rate, Length: 1094, dtype: float64