# M1L6 Data Challenge:  Missing Data

## Scenario

You are continuing your analysis of the "New York City Leading Causes of Death" dataset.  You've noticed that the Deaths and Death Rate columns contain some missing values, represented by periods ('.').  Missing data is a common issue in real-world datasets, and it's crucial to handle it appropriately to avoid biased or inaccurate conclusions.


For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 

- Create missing value indicator columns.
- Identify the extent of missing data in the Deaths and Death Rate columns.
- Impute these missing values using appropriate strategies.



**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [152]:
# Import Pandas 
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. 

The file is called:  `nyc_causeofdeath.csv`

In [153]:
df = pd.read_csv("nyc_causeofdeath.csv")
#df.head()

### Step 3: Count up the number of missing values in 2 columns

a.  Use value_counts() to determine the number of missing values (represented by '.') in the `Deaths` and `Death Rate` columns.  Print the value counts for each column.  Be sure to set dropna=False as an argument within value_counts()

b.  Add a comment for the number of missig values (aka periods '.') are in each column

In [155]:
#Comment 1:  
df['dotDeaths'] = df['Deaths'] == '.'
print("the amount of '.' in Deaths is: "), print(len(df[df['dotDeaths']== True]))
#Comment 2:  
df['dotDeathRate'] = df['Death Rate'] == '.'
print("the amount of '.' in Death Rate is: "), print(len(df[df['dotDeathRate']== True]))

the amount of '.' in Deaths is:
138
the amount of '.' in Death Rate is:
386

(None, None)

### Step 4:  Replace periods with NaN (not a number) and convert to numeric 

- a. Replace the '.' values in the `Deaths` and `Death Rate` columns with `np.nan`.
- b. Convert the `Deaths` and `Death Rate` columns to numeric.

This may take several lines of code

In [ ]:
df['Deaths'] = df['Deaths'].replace('.',np.nan)
df['Death Rate'] = df['Death Rate'].replace('.',np.nan)
numDeath = np.array(df['Death Rate'])
numDeathRate = np.array(df['Death Rate'])
numDeath = numDeath.astype(float)
numDeathRate = numDeathRate.astype(float)
df['Deaths'] = numDeath
df['Death Rate'] = numDeathRate

df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate,dotDeaths,dotDeathRate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,NaN,NaN,.,False,True
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,NaN,NaN,.,False,True
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,25.0,25.0,33,False,False
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,NaN,NaN,.,True,True
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,176.5,176.5,148.4,False,False

### Step 5:  Check the data's info again 

Run a `.info()` to see if the columns have missing data in them -- they should!

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   708 non-null    float64
 5   Death Rate               708 non-null    float64
 6   Age Adjusted Death Rate  1094 non-null   object
 7   dotDeaths                1094 non-null   bool
 8   dotDeathRate             1094 non-null   bool
dtypes: bool(2), float64(2), int64(1), object(4)
memory usage: 62.1+ KB

## Step 6:  Create a missing inidcator (run the code below without changes)

-  This column will have a 1 if the row is missing a value in a respective column and 0 if it is not 

-  Add a comment about what the np.where() function is (feel free to use documentation)

In [126]:
#Run this cell without changes 

df['Deaths_missing'] = np.where(df['Deaths'].isna(), 1, 0)
df['Death_Rate_missing'] = np.where(df['Death Rate'].isna(), 1, 0)

### Step 7:  Calculate the median for each column

In [127]:
print(df['Deaths'].median())
print(df['Death Rate'].median())

18.35
18.35

### Step 8:  Use the median to fill in each column's missing values (aka impute)

Hint:  Use `fillna()` with the median values you created above.

In [128]:
columns = ['Deaths', 'Death Rate']
mediancol =df[columns].median()

df[columns] = df[columns].fillna(mediancol.median())
#df['Deaths'].fillna(df['Deaths'].median())
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate,dotDeaths,dotDeathRate,Deaths_missing,Death_Rate_missing
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,18.35,18.35,.,False,True,1,1
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,18.35,18.35,.,False,True,1,1
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,25.00,25.00,33,False,False,0,0
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,18.35,18.35,.,True,True,1,1
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,176.50,176.50,148.4,False,False,0,0

In [129]:
#Check the info to see if imputation worked 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   1094 non-null   float64
 5   Death Rate               1094 non-null   float64
 6   Age Adjusted Death Rate  1094 non-null   object
 7   dotDeaths                1094 non-null   bool
 8   dotDeathRate             1094 non-null   bool
 9   Deaths_missing           1094 non-null   int64
 10  Death_Rate_missing       1094 non-null   int64
dtypes: bool(2), float64(2), int64(3), object(4)
memory usage: 79.2+ KB

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [ ]:
df['Deaths'].groupby(df['Year']).sum()

#2007 has the most deaths

Year
2007    5780.05
2008    5694.65
2009    5557.20
2010    5603.50
2011    5702.45
2012    5513.80
2013    5524.05
2014    5542.10
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  

Why would you want to do this?  Add a comment answering this question.

In [ ]:
#Death Rate is a continuous number so having it as a float includes the decimal points, making it a more accurate representation.