# M1L4 Pandas Code Walkthrough: Air Pollution Analysis

Scenario: Analyze air pollution data

Dataset: A CSV file containing air pollution metrics [DataSet](https://www.kaggle.com/datasets/sazidthe1/global-air-pollution-data)

Tasks:
- Load the dataset into a DataFrame.
- Explore the data using attributes and methods.
- Calculate summary statistics for air pollution metrics.

### Step 1: Import Pandas

In [2]:
import pandas as pd

### Step 2: Load the Air Pollution Dataset

Load the dataset into a Pandas DataFrame. You will use the `pd.read_csv()` function.  Look at documentation to see what this function does and the arguments it takes in.

In [ ]:
air_data = pd.read_csv("global_air_pollution_data.csv")

### Step 3: Explore the Data

Task:
- View the first 5 rows of the dataset.
- Check the shape of the dataset.
- Display the column names and data types.

In [16]:
# View the first 5 rows
air_data.head(5)

# Check the shape of the dataset
print(air_data.shape)

# Display column names and data types
print(air_data.columns)

(23463, 12)
Index(['country_name', 'city_name', 'aqi_value', 'aqi_category',
       'co_aqi_value\t', 'co_aqi_category', 'ozone_aqi_value',
       'ozone_aqi_category', 'no2_aqi_value', 'no2_aqi_category',
       'pm2.5_aqi_value', 'pm2.5_aqi_category'],
      dtype='object')

### Step 4: Calculate Summary Statistics

Task:
- Use `.describe()` to get summary statistics for all numeric columns.
- What are some takeaways that you notice?

In [17]:
# Summary statistics for all numeric columns
air_data.describe()

,aqi_value,co_aqi_value\t,ozone_aqi_value,no2_aqi_value,pm2.5_aqi_value
count,23463.000000,23463.000000,23463.000000,23463.000000,23463.000000
mean,72.010868,1.368367,35.193709,3.063334,68.519755
std,56.055220,1.832064,28.098723,5.254108,54.796443
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,79.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000