# M1L5 More EDA with Pandas 

This notebook will guide you through some essential data manipulation techniques using the Pandas library in Python. We'll be working with the Austin Animal Center Intakes dataset, which contains information about animals entering the Austin Animal Center.

### **Dataset:** [Austin Animal Center Intakes](https://catalog.data.gov/dataset/austin-animal-center-intakes) -- This is also in your data folder 

### **Objectives:**

 1.  Load and explore the dataset.
 2.  Use `groupby()` to aggregate data.
 3.  Create contingency tables using `crosstab()`.
 4.  Identify and handle duplicate entries.

## Step 1:  Import pandas and numpy

In [ ]:
#Import packages 

None
None

## Step 2:  Load in the data and save it as `df`

In [ ]:
df = None

## Step 3:  Look at the data (can you think of some methods to do this)

In [ ]:
None

## Step 4:  Count up how many missing values exist in each column (you would need to chain two methods here -- one to check for missing values and the other to sum missing values up)

In [ ]:
None

## Step 5:  Count up the amount of animals by Animal Type

In [ ]:
animal_counts = None
print(animal_counts)

## Step 6:  Create a crosstab showing the count of animal types for each intake condition.

In [ ]:
cross_table = None
print(cross_table)

## Step 7:  Check for duplicate Animal IDs (pay close attention to the syntax here)

In [ ]:
duplicate_ids = None
print(duplicate_ids)

## Practice Joining Data

### Scenario 1
You have customer data split into two different files (DataFrames),
and you want to combine them into a single DataFrame for analysis.

In [ ]:
# Run the cell without changes to create the two dataframes 

customers_part1_df = pd.DataFrame({'CustomerID': [101, 102, 103],
                                   'FirstName': ['Alice', 'Bob', 'Charlie'],
                                   'City': ['Anytown', 'Otherville', 'Smallburg']})

customers_part2_df = pd.DataFrame({'CustomerID': [104, 105, 106],
                                   'FirstName': ['David', 'Emily', 'Frank'],
                                   'City': ['Bigcity', 'Townsville', 'Villageton']})

### Scenario 1 Task:  Use `pd.concat()` to stack the two dataframes above (afterall they have the same columns)

In [ ]:
all_customers_df = None
all_customers_df

   CustomerID FirstName        City
0         101     Alice     Anytown
1         102       Bob  Otherville
2         103   Charlie   Smallburg
3         104     David     Bigcity
4         105     Emily  Townsville
5         106     Frank  Villageton

### Scenario 2

Combining customer details and loyalty points.

In [ ]:
# Run the cell without changes to create the two dataframes 

customer_details_df = pd.DataFrame({'CustomerID': [101, 102, 103],
                                    'Name': ['Alice', 'Bob', 'Charlie'],
                                    'City': ['Anytown', 'Otherville', 'Smallburg']})

loyalty_points_df = pd.DataFrame({'CustomerID': [101, 102, 103],
                                  'Points': [100, 250, 50]})

### Scenario 2 Task :  Merge the DataFrames on CustomerID

In [ ]:
merged_customer_df = None
merged_customer_df

   CustomerID     Name        City  Points
0         101    Alice     Anytown     100
1         102      Bob  Otherville     250
2         103  Charlie   Smallburg      50